/Taxis/build/
/Formas/nbproject/private/
/Formas/build/
/Converte/nbproject/private/
/Converte/build/
/Banco/nbproject/private/
/Banco/build/
/Circulos/nbproject/private/
/Circulos/build/
/ManipulaFrase/nbproject/private/
/ManipulaFrase/build/
